.App {
  text-align: center;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pageFlow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}

.listFlow {
  display: flex;
  flex-direction: row;
  width: 90vw;
  box-sizing: border-box;
  /* justify-content: space-around; */
}

.largerButton {
  width: 200px;
  height: 25px;
  background-color: cadetblue;
  
}